<project-navbar-mobile></project-navbar-mobile>
<div class="row">
  <project-navbar class="hidden-xs"></project-navbar>
  <div class="col-xs-12 col-sm-11">
    <div class="main-container">
      <div class="header">
        <div class="row">
          <div class="col-sm-12">
            <h1>Sprint Board</h1>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-sm-12">
            <a ng-click="closeSprint()" class="btn btn-primary pull-right">Close Sprint</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-xs-6 col-sm-10">
             <div ng-show="failed" class="alert alert-danger" role="alert">{{ failed }}</div>
          </div>      
        </div>  

        <div class="row">
          <div class="col-xs-4" ng-repeat="column in statuses">
            <h1>{{column.name}}</h1>
            <ul ng-model="sprint.stories" as-sortable="sprintBoardOptions">
              <li data-as-sortable-item ng-repeat='story in sprint.stories'>
                <div ng-show="story.status === column.name" data-as-sortable-item-handle>
                  <label>{{story.name}}</label>
                </div>
                <label ng-hide="story.status === column.name || story.isDragged">(Empty)</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>