<project-navbar-mobile></project-navbar-mobile>
<div class="row">
  <project-navbar class="hidden-xs"></project-navbar>
  <div class="col-xs-12 col-sm-11">
    <div class="main-container">
      <div class="header">
        <div class="row">
          <div class="col-sm-12">
            <h1>{{sprint.name}}</h1>
            {{sprint.start_date | date:'dd.MM.yyyy'}} - {{sprint.end_date | date:'dd.MM.yyyy'}}
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-sm-12">
            <a ng-click="closeSprint()" class="btn btn-primary pull-right">Close Sprint</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-xs-6 col-sm-10">
             <div ng-show="failed" class="alert alert-danger" role="alert">{{ failed }}</div>
          </div>      
        </div>  

        <div class="row sprintBoardHeader">
          <div class="col-xs-4 sprintHeader" ng-repeat="column in statuses">
            <h1>{{column.name}}</h1>
          </div>
        </div>

        <div ng-repeat='story in sprint.stories' class="row storyItemContainer">
          <ul ng-model="story.items" as-sortable="sprintBoardOptions">
            <li class="as-sortable-story" data-as-sortable-item ng-repeat="column in story.items">
              <div ng-show="column.isWithin" class="storyItem" >
                <label data-as-sortable-item-handle >{{story.name}}</label>
              </div>
              <label ng-hide="column.isWithin"></label>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>