$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'backlog/backlog.scss';
@import 'configuration/configuration.scss';
@import 'directives/project/project.scss';
@import 'directives/story/story.scss';
@import 'directives/storyDetail/storyDetail.scss';
@import 'directives/user/user.scss';
@import 'project/project.scss';
@import 'sprintBoard/sprintBoard.scss';
@import 'userManagement/userManagement.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/project-navbar-mobile/project-navbar-mobile.scss';
@import '../components/project-navbar/project-navbar.scss';
// endinjector

/////////////
// Own styles
/////////////

.main-container {
  margin-left: 0;
  margin-right: 0;
  .header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;    
    h1{
      margin-bottom: 5px;
    }
  }
  .actions {
    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
    .link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.alert {
  margin-top: 10px;
}

textarea {
  resize:vertical;
}

ul {
  margin: 0; 
  padding: 0;
  list-style-type: none;   
}

// bpi-actions should not be used anymore. Use different columns instead
.bpi-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bpi-actions>li {
  display: inline;

}

.custom-table {
  .table-header {
    div {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  .table-content {
    .table-row {
      padding: 8px 0px;
      border-top: 1px solid #ddd
    }
    .table-row:nth-child(1) {
      border-top: 2px solid #ddd 
    }
    .table-row:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }
}

.story-type-0 {
  background: #F2F199;
}

.story-type-1 {
  background: #F2D8D0;
}

.story-type-2 {
  background: #D0EAF2;
}

.story-type-3 {
  background: #f29797;
}

.story-type-4 {
  background: #baf297;
}

.story-type-5 {
  background: #97e4f2;
}

.story-type-6 {
  background: #97a8f2;
}

.story-type-7 {
  background: #de97f2;
}

.story-type-8 {
  background: #f297cc;
}