<div class="col-xs-1 project-navbar">
  <div class="row">
    <div class="col-xs-12 option enabledLink">
      <span title="Product Backlog" class="glyphicon glyphicon-list-alt" ng-click="showProductBacklog()"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 option" ng-class="{'disabledLink' : !nav_project.current_sprint, 'enabledLink' : nav_project.current_sprint}">
      <span title="Sprint Board" class="glyphicon glyphicon-tasks" ng-click="showSprintBoard()"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 option enabledLink">
      <span title="Manage Users" class="glyphicon glyphicon-user"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 option enabledLink">
      <span title="Configuration" class="glyphicon glyphicon-wrench"></span>
    </div>
  </div>
</div>