
<!--<label ng-hide="showSelectBox" ng-click="showSelectBox=true">Assignee: <a href="">{{selectedUser.username}}</a></label>
<select ng-show="showSelectBox" class="form-control" ng-model="selectedUser" name="select-participant" ng-options="participant as participant.user.username for participant in participants track by participant.user._id"
ng-change="assignUser(selectedUser)" >
  <option value="{{selectedUser}}">{{selectedUser.username}}</option>
</select>-->

<a class="item" href="#" editable-select="status" buttons="no" e-ng-options="stat for stat in statuses" style="	color: #428BCA !important;
	font-style: normal;">
    {{ showStatus() }}
  </a>