<project-navbar-mobile></project-navbar-mobile>
<chat-widget></chat-widget>
<div class="row">
  <project-navbar class="hidden-xs"></project-navbar>
  <div class="col-xs-12 col-sm-11">
    <div class="main-container">
      <div class="header">
        <div class="row">
          <div class="col-sm-12">
            <h1>Project configuration</h1>
          </div>
        </div>
      </div>

      <div class="content">

        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <div ng-show="failed" class="alert alert-danger" role="alert">{{ failed }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p>Configure the story types available for stories in this project.</p>
            <div class="custom-table">
              <div class="row">
                <div class="table-header">
                  <div class="col-xs-8">Story Type</div>
                  <div class="col-xs-2">Color</div>
                  <div class="col-xs-2"></div>
                </div>
              </div>
              <div class="table-content">
                <ul>
                  <li class="table-row" ng-repeat="type in project.story_types">
                    <div class="row">
                      <div class="col-xs-8">{{ type }}</div>
                      <div class="col-xs-2">
                        <div class="color-box" ng-class="'story-type-{{$index}}'"></div>
                      </div>
                      <div class="col-xs-2 col-sm-2">
                        <div ng-show="project.story_types.length != 1" class="btn-group pull-right">
                          <a ng-click="deleteStoryType(type)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="actions">
        <form>
          <div class="row">
            <div class="col-xs-8 col-sm-10">
              <input type="text" class="form-control" ng-model="storyTypeField" placeholder="Story Type">
            </div>
            <div class="col-xs-4 col-sm-2">
              <a ng-click="addStoryType(storyTypeField)" class="btn btn-primary pull-right" ng-disabled="!storyTypeField">Add Story Type</a>
            </div>
          </div>
        </form>
      </div>

      <hr />
      <div class="content">
        <div class="row">
          <div class="col-xs-12">
            <p>Configure the statuses available for stories that are In Progress.</p>
            <div class="custom-table">
              <div class="row">
                <div class="table-header">
                  <div class="col-xs-10">Status Name</div>
                  <div class="col-xs-2"></div>
                </div>
              </div>
              <div class="table-content">
                <ul>
                  <li class="table-row" ng-repeat="status in project.story_statuses">
                    <div class="row">
                      <div class="col-xs-10">{{ status }}</div>
                      <div class="col-xs-2 col-sm-2">
                        <div class="btn-group pull-right">
                          <a ng-click="deleteStatus(status)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="actions">
        <form>
          <div class="row">
            <div class="col-xs-8 col-sm-10">
              <input type="text" class="form-control" ng-model="statusToAdd" placeholder="Status Name">
            </div>
            <div class="col-xs-4 col-sm-2">
              <a ng-click="addStatus(statusToAdd)" class="btn btn-primary pull-right" ng-disabled="!statusToAdd">Add Status</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
