<div class="chat-widget-container">
	<div ng-click="showChati()" class="chat-header">Project Chat <span ng-show="isShownChat" class="ion-minus-round pull-right"></span> <span ng-show="!isShownChat" class="ion-plus-round pull-right"></span></div>
	<div ng-show="isShownChat" class="chat-body" scroll-bottom="messageLog">
		<ul>
			<li ng-repeat="msg in messageLog">
				<div class="chat-msg">
					<div class="msg-header">{{msg.user}}</div>
					<div class="msg-body">{{msg.text}}</div>
					<div class="msg-footer">{{msg.date}}</div>
				</div>
			</li>
		</ul>
	</div>
	<div ng-show="isShownChat" class="chat-input-area">
		<input ng-keypress="enterMessage($event)" type="text" placeholder="Type the message ..." ng-model="message">
	</div>
</div>
