<div class="row hidden-sm hidden-md hidden-lg project-navbar-mobile">
  <div class="col-xs-3 option enabledLink" >
    <span title="Product Backlog" class="glyphicon glyphicon-list-alt" ng-click="showProductBacklog()"></span>
  </div>
  <div class="col-xs-3 option" ng-class="{'disabledLink' : !nav_project.current_sprint, 'enabledLink' : nav_project.current_sprint}">
    <span title="Sprint Board" class="glyphicon glyphicon-tasks" ng-click="showSprintBoard()"></span>
  </div>
  <div class="col-xs-3 option">
    <span title="User Management" class="glyphicon glyphicon-user" ng-click="showUserManagement()"></span>
  </div>
  <div class="col-xs-3 option">
    <span title="Configuration" class="glyphicon glyphicon-wrench" ng-click="showConfiguration()"></span>
  </div> 
</div>