.project-navbar-mobile {
  .option {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    color: #777;     
  }
  .disabledLink {
    span {
      cursor: not-allowed;
    } 
  }
  .enabledLink {
    span {
      cursor: pointer;
    } 
    &:hover {
      color: #888;
    }
  }  
}