<div class="container-fluid">
	<!-- TODO remove in line styles! -->
	<div class="row">
		<div class="col-lg-1 hidden-sm hidden-md hidden-xs"></div>
		<div class="col-sm-12 col-lg-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						{{project.name}}
					</div>
				</div>

				<div class="panel-body">
					<p>{{project.description}}</p>
					<hr/>
					<!-- TODO make this looks nice here is the page people http://getbootstrap.com/components/#panels-tables -->
					<div data-as-sortable data-ng-model="stories">

						<div class="container-fluid">
							<div style="padding:0" class="panel-body">
								<div class="container-fluid">
									<div style="margin-bottom: 5px" class="row">
										<div class="col-xs-2">Name</div>
										<div class="col-xs-2">Description</div>
										<div class="col-xs-2">Type</div>
										<div class="col-xs-2">Status</div>
										<div class="col-xs-1">Story points</div>
										<div class="col-xs-3"><a ng-click="addStory()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Item</a></div>
									</div>
									<ul data-as-sortable="dragControlListeners" data-ng-model="stories">
										<li ng-repeat="item in stories" data-as-sortable-item>
											<div class="row" data-as-sortable-item-handle>
												<story  story-item="{{item}}"></story>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>					
				</div>

			</div>
			<div class="col-lg-1 hidden-sm hidden-md hidden-xs"></div>
		</div>
	</div>
</div>
