<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-11">
    <div class="main-container">
      <div class="header">
        <div class="row">
          <div class="col-sm-12">
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
          </div>
        </div>    
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-sm-12">
            <a ng-click="addStory()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Item</a>      
          </div>
        </div>    
      </div>

      <div class="content">          

        <div class="row">
          <div ng-class="{'col-xs-9 story-detail-separator' : showDetails, 'col-xs-12' : !showDetails}">
            <div class="custom-table">
              <div class="row">
                <div class="table-header">
                  <div class="col-xs-3">Name</div>
                  <div class="col-xs-3">Description</div>
                  <div class="col-xs-2">Type</div>
                  <div class="col-xs-1">Status</div>
                  <div class="col-xs-1">Points</div>
                  <div class="col-xs-2"></div>              
                </div>
              </div>
              <div class="table-content">
                <ul data-as-sortable="dragControlListeners" data-ng-model="stories">
                  <li class="table-row" ng-repeat="item in stories" data-as-sortable-item>
                    <div data-as-sortable-item-handle>
                      <div class="row">
                        <story story-item="{{item}}"></story>
                      </div>
                    </div>
                  </li>
                </ul>            
              </div>          
            </div>
          </div>

          <div class="col-xs-3">            
              <story-detail ng-show="showDetails" story-item="{{detailStory}}" callback="showStoryDetails(item)"></story-detail>            
          </div>
          
        </div>                
      </div>    
    </div>    
  </div>  
</div>
