.backlog-container{
 
 display: block;
 width: 80%;
 height: 300px;
 
 margin: auto;
 }
 
 .bpi-actions {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }
 
 .bpi-actions>li {
	 display: inline;
	
 }