<div class="modal-header">
  <h3 class="modal-title">Edit Story</h3>
</div>
<div class="modal-body">
  <form name="form">
    <div class="form-group">
      <label for="">Name</label>
      <input class="form-control" type="text" name="name" ng-model="editStory.name" required="">
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <input class="form-control" type="text" name="description" ng-model="editStory.description" required="">
    </div>
    <div class="form-group">
      <label for="">Story Points</label>
      <input class="form-control" type="text" name="points" ng-model="editStory.points" required="">
    </div>
    <div class="form-group">
      <label for="">Summary</label>
      <input class="form-control" type="text" name="summary" ng-model="editStory.summary" required="">
    </div>
</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="updateStory()">Update</button>
  <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div> 