.story-row {
	padding: 5px;
	border-top: 1px solid lightgray;
	background: white;
}

.sprint-delimiter {
  label {
    color: lightgrey;
    font-weight: normal;
    font-size: 9pt;
    margin: 0;
  }
  hr {

    margin: 5px 0 5px 0;

  }
}