<div class="col-xs-2">{{item.name}}</div>
<div class="col-xs-2">{{item.description}}</div>
<div class="col-xs-2">{{item.type}}</div>
<div class="col-xs-2">{{item.status}}</div>
<div class="col-xs-1">{{item.points}}</div>
<div class="col-xs-3">
	<ul class="pull-right bpi-actions">
    <li><div class="btn btn-danger disabled" ng-show="hasUpdateFailed"><span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMessage}} </div></li>
		<li><a ng-click="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></li>
		<li>
      <a ng-show="!isRefreshing" ng-click="callOpenModal(item)" class="btn btn-primary">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      <div class="btn btn-info" ng-show="isRefreshing"><img width="14px" src="assets/images/ajax-loader.gif" /></div>
    </li>
	</ul>
</div>