<div class="main-container">  
  <div class="header">  
    <div class="row">   
        <div class="col-sm-12">
            <h1>Projects</h1>    
        </div>      
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-sm-12">
        <a ng-click="new()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create a new project</a>        
      </div>
    </div>    
  </div>

  <div class="content">   

    <div class="row">
      <div class="col-xs-6 col-sm-10">
         <div ng-show="failed" class="alert alert-danger" role="alert">{{ failed }}</div>
      </div>      
    </div>    

    <div class="table-responsive" ng-show="projects.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th> 
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>          
          <tr ng-repeat="item in projects" project>            
          </tr>          
        </tbody> 
      </table>
    </div>
  </div> 
</div>