<div class="main-container">  
  <div class="header">  
    <div class="row">   
        <div class="col-sm-12">
            <h1>Projects</h1>
        </div>  
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-sm-12">
        <a ng-click="new()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create a new project</a>        
      </div>
    </div>    
  </div>

  <div class="content">   

    <div class="row">
      <div class="col-xs-6 col-sm-10">
         <div ng-show="failed" class="alert alert-danger" role="alert">{{ failed }}</div>
      </div>      
    </div>    

    <div class="row" ng-show="projects.length">
      <div class="col-xs-12">
        <div class="custom-table">
          <div class="row">
            <div class="table-header">
              <div class="col-xs-1">#</div>
              <div class="col-xs-5 col-sm-3">Name</div>
              <div class="hidden-xs col-sm-6">Description</div>
              <div class="col-xs-6 col-sm-2"></div>           
            </div>
          </div>
          <div class="table-content">
            <ul>
              <li class="table-row" ng-repeat="item in projects">
                <div class="row">
                  <project project-item="{{item}}"></project>
                </div>
              </li>
            </ul>            
          </div>          
        </div>
      </div>
    </div>
  </div> 
</div>